.scene_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.scene_wrapper {
  width: 900px;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid rgb(131, 60, 7);
}

.scene_wrapper > img {
  width: 100%;
  position: absolute;
}

#img_2 {
  transition: opacity 500ms;
}

.hide {
  opacity: 0;
}

@media (max-width: 900px) {
  .scene_wrapper {
    width: 600px;
    height: 650px;
  }
}

@media (max-width: 600px) {
  .scene_wrapper {
    width: 500px;
    height: 550px;
  }
}

@media (max-width: 500px) {
  .scene_wrapper {
    width: 400px;
    height: 450px;
  }
}

@media (max-width: 400px) {
  .scene_wrapper {
    width: 300px;
    height: 350px;
  }
}

@media (max-width: 300px) {
  .scene_wrapper {
    width: 200px;
    height: 250px;
  }
}
