.scene_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.scene_wrapper {
  width: 900px;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid rgb(131, 60, 7);
}

.scene_wrapper > img {
  width: 100%;
  position: absolute;
}

#img_2 {
  transition: opacity 500ms;
}

.hide {
  opacity: 0;
}
